<div class="w-full pb-2.5 min-h-full">
    <div class="container mx-auto h-full">
        <div class="w-full max-h-96">
            <img src="../../../../assets/images/banner-2.png" alt="Homepage Banner" />
        </div>

        <mat-tab-group mat-align-tabs="start" class="pt-6" (selectedTabChange)="onTabChanged()">
            <mat-tab label="TV Shows" *ngIf="!isLoading">
                <div class="flex flex-wrap gap-5 justify-center">
                    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                    <app-card *ngFor="let media of tvShows" [media]="media" [URL]="'tv'"> </app-card>
                </div>
            </mat-tab>
            <mat-tab label="Movies" *ngIf="!isLoading">
                <div class="flex flex-wrap gap-5 justify-center">
                    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                    <app-card *ngFor="let media of movies" [media]="media" [URL]="'movie'"> </app-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
