<mat-card class="mb-3">
    <mat-card-header>
        <div mat-card-avatar>
            <img class="example-header-image" src="{{ picture }}" alt="profile picture" />
        </div>
        <mat-card-title>
            {{ title }}
            <span *ngIf="created_at !== last_changed_at">(Edited)</span>
        </mat-card-title>
        <mat-card-subtitle>
            <a href="/user/{{ createdBy }}">{{ user_name }}</a> {{ created_at | date }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mx-2">
        <p>{{ content }}</p>
    </mat-card-content>
</mat-card>
