<div class="w-full pb-2.5 min-h-full text-white">
    <div class="container mx-auto h-full flex gap-x-6">
        <mat-progress-bar mode="indeterminate" *ngIf="movieIsLoading"></mat-progress-bar>
        <div class="w-2/12 pt-8" *ngIf="!movieIsLoading">
            <app-media-side-panel
                [mediaId]="movie?.id"
                [mediaStatus]="movie?.status"
                [mediaProducers]="producers"
                [MediaGenres]="movie?.genres"
                [mediaPoster]="movie?.poster_path"
                [mediaType]="mediaType"
                [rating]="rating">
            </app-media-side-panel>
        </div>
        <div class="w-10/12 pt-8" *ngIf="!movieIsLoading">
            <app-media-general-info
                [mediaId]="id"
                [title]="movie?.title"
                [runtime]="movie?.runtime"
                [tagline]="movie?.tagline"
                [overview]="movie?.overview"
                [date]="movie?.release_date">
            </app-media-general-info>
            <app-cast [credits]="cast.slice(0, 7)" [mediaId]="id" [mediaType]="mediaType"></app-cast>

            <mat-divider></mat-divider>

            <app-review-list [reviews]="reviews" [mediaId]="id" [mediaType]="mediaType"></app-review-list>
        </div>
    </div>
</div>
