<div class="w-full py-2.5">
    <div class="w-full max-h-52 flex justify-start bg-neutral-600">
        <img src="{{ posterPath }}" alt="{{ name }}" class="w-40" />
        <div class="px-2.5 py-2">
            <span class="text-xl">
                {{ name }} <span class="text-lg">({{ air_date | date }})</span>
            </span>
            <div class="text-justify">{{ overview }}</div>
            <div class="flex justify-end pt-2 gap-x-0.5">
                <button mat-flat-button color="primary">Mark All</button>
                <button mat-flat-button color="primary" (click)="expandAndCollapse()">
                    {{ expanded ? "Collapse" : "Expand" }}
                </button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="expanded">
        <app-episode-info
            *ngFor="let episode of episodes"
            [episodeId]="episode.id"
            [name]="episode.name"
            [air_date]="episode.air_date"
            [overview]="episode.overview"
            [posterPath]="episode.poster_path">
        </app-episode-info>
    </ng-container>
</div>
