<div class="w-full py-2.5">
    <div class="w-full max-h-56 flex justify-between bg-neutral-600 px-2.5 py-2">
        <div class="text-xl">
            {{ name }} <span class="text-lg">({{ air_date | date }})</span>
        </div>
        <div>
            <button mat-button *ngIf="!expanded" matTooltip="Expand" color="primary" (click)="expandAndCollapse()">
                <mat-icon> expand_more </mat-icon>
            </button>
            <button mat-button *ngIf="expanded" matTooltip="Colapse" color="primary" (click)="expandAndCollapse()">
                <mat-icon> expand_less </mat-icon>
            </button>
        </div>
    </div>
    <ng-container *ngIf="expanded">
        <app-episode-info
            *ngFor="let episode of episodes"
            [episodeId]="episode.id"
            [name]="episode.name"
            [air_date]="episode.air_date"
            [overview]="episode.overview"
            [posterPath]="episode.poster_path">
        </app-episode-info>
    </ng-container>
</div>
