<div class="w-full pb-2.5 min-h-full text-white">
    <div class="container mx-auto h-full flex gap-x-6">
        <mat-progress-bar mode="indeterminate" *ngIf="tvIsLoading"></mat-progress-bar>
        <div class="w-2/12 pt-8" *ngIf="!tvIsLoading">
            <app-media-side-panel
                [mediaId]="tv?.id"
                [mediaStatus]="tv?.in_production ? 'In Production' : 'Finished'"
                [mediaProducers]="producers"
                [mediaNetwork]="tv?.network"
                [MediaGenres]="tv?.genres"
                [mediaPoster]="tv?.poster_path"
                [mediaType]="mediaType">
            </app-media-side-panel>
        </div>
        <div class="w-10/12 pt-8" *ngIf="!tvIsLoading">
            <app-media-general-info
                [mediaId]="id"
                [title]="tv?.name"
                [tagline]="tv?.tagline"
                [overview]="tv?.overview"
                [date]="tv?.first_air_date">
            </app-media-general-info>
            <app-cast [credits]="cast.slice(0, 7)" [mediaId]="id" [mediaType]="mediaType"></app-cast>

            <mat-divider></mat-divider>
            <app-season-group [seasons]="seasons"></app-season-group>

            <mat-divider></mat-divider>
            <app-review-list [reviews]="reviews" [mediaId]="id" [mediaType]="mediaType"></app-review-list>
        </div>
    </div>
</div>
