<div class="w-full pb-2.5 min-h-full text-white">
    <div class="container mx-auto h-full flex">
        <div class="w-1/4 pt-10 mr-8">
            <app-search-filter (filterApplied)="onFilterApplied($event)"> </app-search-filter>
        </div>
        <div class="w-3/4 pt-10" *ngIf="!tvsAreLoading">
            <form class="w-full" [formGroup]="formGroup">
                <mat-form-field class="w-full" hideRequiredMarker="true">
                    <mat-label>TV Show Name</mat-label>
                    <input type="text" formControlName="name" matInput />
                    <button mat-button matSuffix aria-label="search" (click)="onSearch()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </form>
            <content *ngIf="!tvsAreLoading">
                <div class="flex flex-wrap gap-y-2 justify-between">
                    <app-card
                        class="card"
                        *ngFor="let tv of tvs"
                        [mediaId]="tv.id"
                        [mediaTitle]="tv.name"
                        [mediaSubtitle]="tv.first_air_date | date"
                        [mediaPoster]="tv.poster_path"
                        [mediaType]="tvMediaType">
                    </app-card>
                </div>
            </content>
            <mat-paginator
                #paginator
                class="mt-3"
                (page)="handlePageEvent($event)"
                [length]="tvCount"
                [pageSize]="pageSize"
                [pageIndex]="page"
                [hidePageSize]="true"
                [showFirstLastButtons]="true"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>
