<div class="bg-neutral-900 w-full h-48 flex content-center">
    <div class="container m-auto flex gap-x-7">
        <div class="self-center">
            <img src="../../../../assets/images/logo-1-transparent.png" alt="Watch Manager Logo" class="max-h-40" />
        </div>

        <div class="self-center">
            <div class="flex-col text-slate-50 text-l">
                <div><a href="/about-us">About Us</a></div>
                <div><a href="/privacy">Privacy</a></div>
                <div><a href="/contact-us">Contact Us</a></div>
            </div>
        </div>
        <div class="flex-1"></div>
        <div>
            <img src="../../../../assets/images/tmdb-logo-2.png" alt="The Movie DataBase Logo" class="max-h-40" />
        </div>
    </div>
</div>
