<div class="w-full mt-5">
    <form class="w-full" [formGroup]="reviewFormGroup">
        <mat-form-field appearance="fill" class="w-full mb-0" [hideRequiredMarker]="true">
            <mat-label>Review title</mat-label>
            <input type="tex" formControlName="reviewTitle" matInput />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full mb-0" [hideRequiredMarker]="true">
            <mat-label>Leave a review</mat-label>
            <textarea rows="7" formControlName="review" matInput> </textarea>
        </mat-form-field>
    </form>
    <div class="grid justify-items-end">
        <button mat-flat-button color="primary" (click)="addReview()" [disabled]="reviewFormGroup.invalid">
            Add review
        </button>
    </div>
    <div>
        <div class="text-3xl font-bold pb-3">Reviews</div>
        <app-review
            *ngFor="let review of reviews.slice(0, 3)"
            [mediaId]="mediaId"
            [title]="review.title"
            [created_at]="review.created_at"
            [last_changed_at]="review.last_changed_at"
            [user_name]="review.user_name"
            [content]="review.content"
            [createdBy]="review.created_by">
        </app-review>
        <div class="flex flex-wrap justify-center" *ngIf="reviews.length">
            <a class="text-2xl" (click)="viewAllReviews()">View all reviews</a>
        </div>
        <div class="text-2xl" *ngIf="!reviews.length">Be the first to leave a review</div>
    </div>
</div>
