<div class="w-full mt-5">
    <form class="w-full" [formGroup]="formGroup">
        <mat-form-field appearance="fill" class="w-full" [hideRequiredMarker]="true">
            <mat-label>Leave a review</mat-label>
            <textarea rows="7" formControlName="review" matInput></textarea>
        </mat-form-field>
    </form>

    <div>
        <div class="text-3xl font-bold pb-3">Reviews</div>
        <app-review
            *ngFor="let review of reviews"
            [mediaId]="mediaId"
            [title]="review.title"
            [created_at]="review.created_at"
            [last_changed_at]="review.last_changed_at"
            [user_name]="review.user_name"
            [content]="review.content">
        </app-review>
        <div class="flex flex-wrap justify-center" *ngIf="reviews.length">
            <div class="text-2xl" (click)="viewAllReviews()">View all reviews</div>
        </div>
        <div class="text-2xl" *ngIf="!reviews.length">Be the first to leave a review</div>
    </div>
</div>
