<div class="w-full mb-7">
    <div class="text-3xl font-bold py-4">Cast</div>
    <div class="flex flex-wrap gap-y-4 justify-between">
        <app-card
            class="card"
            *ngFor="let credit of credits"
            [mediaId]="credit.person.id"
            [mediaTitle]="credit.person.name"
            [mediaSubtitle]="credit.job"
            [mediaPoster]="credit.person.poster_path"
            [mediaType]="cardMediaType">
        </app-card>
        <app-view-more-card
            *ngIf="credits.length"
            class="card"
            [mediaId]="mediaId"
            [mediaType]="mediaType"
            [URL]="'cast'">
        </app-view-more-card>
        <div class="text-2xl" *ngIf="!credits.length">There is no cast</div>
    </div>
</div>
