<div class="pr-10">
    <img class="w-full shadow-2xl rounded-2xl" src="{{ posterPath }}" alt="poster" />

    <div class="font-bold mt-8 text-2xl">Personal Info</div>
    <div class="pt-2">
        <p class="font-bold text-xl">Gender</p>
        <p class="text-lg">{{ gender }}</p>
    </div>
    <div class="pt-1.5">
        <p class="font-bold text-xl">Birthday</p>
        <p class="text-lg">{{ dateOfBirth }}</p>
    </div>
    <div class="pt-1.5" *ngIf="dateOfDeath">
        <p class="font-bold text-xl">Date of death</p>
        <p class="text-lg">{{ dateOfDeath }}</p>
    </div>
    <div class="pt-1.5">
        <p class="font-bold text-xl">Place of birth</p>
        <p class="text-lg">{{ birthPlace }}</p>
    </div>
</div>
