<div class="w-full pb-2.5 min-h-full text-white">
    <div class="container mx-auto h-full flex justify-center">
        <div class="w-3/5 pt-12">
            <div class="flex justify-between">
                <div class="w-3/5 font-title italic font-black my-auto">Hello there</div>
                <img
                    class="w-2/5"
                    src="../../../assets/images/HD-wallpaper-obi-wan-kenobi-sci-fi-movie-star-wars-removebg-preview.png"
                    alt="helo-there" />
            </div>

            <div class="text-2xl text-justify pt-7">
                Welcome to Watch Manager! We are passionate about movies and television and wanted to create a platform
                where people could easily discover, track, and organize their favorite shows and films. Our mission is
                to make it simple for everyone to find great content and connect with other fans.
            </div>

            <div class="text-2xl text-justify pt-7">
                At Watch Manager, we are committed to providing the best possible user experience. Our team of
                developers, designers, and content experts work tirelessly to make sure the app is intuitive, reliable,
                and up-to-date. We also value diversity and inclusivity and strive to make our platform accessible to
                everyone.
            </div>

            <div class="text-2xl text-justify pt-7">
                We know that our users have different tastes and preferences, which is why we offer a wide range of
                content, from blockbuster movies to indie gems, from cult classics to the latest TV shows. Our app is
                also customizable, so you can tailor it to your own interests and needs.
            </div>

            <div class="text-2xl text-justify pt-7">
                We believe in the power of community and encourage our users to engage with each other, share their
                thoughts and opinions, and discover new content together. We are proud to have built a platform where
                people can connect over their shared love of movies and TV.
            </div>

            <div class="flex justify-between">
                <img class="w-2/5" src="../../../assets/images/maxresdefault-removebg-preview.png" alt="helo-there" />
                <div class="w-3/5 text-3xl text-right my-auto">
                    Thank you for choosing Watch Manager and happy watching, General Kenobi.
                </div>
            </div>
        </div>
    </div>
</div>
