.container {
    max-width: 1024px;
}
.font-title {
    font-size: 3.5rem;
    line-height: 1;
}
.img-background {
    background-image: url("../../../assets/images/HD-wallpaper-obi-wan-kenobi-sci-fi-movie-star-wars-removebg-preview.png");
    background-size: contain;
}
