<div class="text-xl w-full">
    <div>
        <span class="text-5xl font-bold">
            {{ title }} <span class="text-3xl">({{ date | dateYear }})</span>
        </span>
    </div>
    <div>
        <span>
            {{ date | date }}<span *ngIf="runtime"> • {{ runtime | runtime }}</span>
        </span>
    </div>
    <div class="italic my-2.5">
        {{ tagline }}
    </div>
    <div class="text-justify">
        <p class="text-3xl font-bold">Overview</p>
        <p>{{ overview }}</p>
    </div>
</div>
