<div class="text-base w-full">
    <div>
        <span class="text-2xl font-bold">
            {{ title }} <span class="text-xl">({{ date | dateYear }})</span>
        </span>
    </div>
    <div>
        <span>
            {{ date | date }}<span *ngIf="runtime"> • {{ runtime | runtime }}</span>
        </span>
    </div>
    <div class="italic my-1.5">
        {{ tagline }}
    </div>
    <div class="text-justify">
        <p class="text-xl font-bold">Overview</p>
        <p>{{ overview }}</p>
    </div>
</div>
