<div class="app-content">
    <mat-toolbar class="bg-neutral-900 w-full">
        <div class="container m-auto flex">
            <a href="/" class="mr-8">Watch Manager</a>
            <a href="/movie" class="mr-8">Movies</a>
            <a href="/tv" class="mr-8">TV Shows</a>
            <a href="/people" class="mr-8">People</a>
            <a *ngIf="user && !isAdmin" href="/recomandations" class="mr-8">Recomandations</a>

            <span class="flex-auto"></span>
            <div *ngIf="!user">
                <a href="/register" class="mr-8">Sign Up</a>
                <a href="/login" class="mr-8">Log In</a>
            </div>
            <div *ngIf="user">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="text-slate-50">
                    <ng-container *ngIf="!isAdmin">
                        <a href="/user-watchlist" mat-menu-item>
                            <mat-icon> bookmark_add </mat-icon>
                            <span>Watchlist</span>
                        </a>
                        <a href="/user-rated" mat-menu-item>
                            <mat-icon> grade</mat-icon>
                            <span>Rated</span>
                        </a>
                        <a href="/user-favorite" mat-menu-item>
                            <mat-icon>favorite</mat-icon>
                            <span>Favourite</span>
                        </a>
                        <a href="/user-watched" mat-menu-item>
                            <mat-icon>check</mat-icon>
                            <span>Watched</span>
                        </a>
                        <a href="/followed" mat-menu-item>
                            <mat-icon>mood</mat-icon>
                            <span>Followed people</span>
                        </a>
                    </ng-container>
                    <ng-container *ngIf="isAdmin">
                        <a href="/admin-movies" mat-menu-item>
                            <mat-icon> theaters </mat-icon>
                            <span>Mange Movies</span>
                        </a>
                        <a href="/admin-tv-shows" mat-menu-item>
                            <mat-icon> tv </mat-icon>
                            <span>Manage TV Shows</span>
                        </a>
                        <a href="/admin-people" mat-menu-item>
                            <mat-icon>people</mat-icon>
                            <span>Manage Actors</span>
                        </a>
                        <a href="/admin-reviews" mat-menu-item>
                            <mat-icon>rate_review</mat-icon>
                            <span>Manage Reviews</span>
                        </a>
                        <a href="/admin-users" mat-menu-item>
                            <mat-icon>account_box</mat-icon>
                            <span>Manage Users</span>
                        </a>
                        <a href="/admin-dashboard" mat-menu-item>
                            <mat-icon>dashboard</mat-icon>
                            <span>Dashboard</span>
                        </a>
                    </ng-container>

                    <a href="/user-account" mat-menu-item>
                        <mat-icon>manage_accounts </mat-icon>
                        <span>Account</span>
                    </a>
                </mat-menu>
                <button mat-button class="ml-4 mr-5" (click)="logout()">
                    <span class="mr-1">Logout</span> <mat-icon>logout</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <div class="h-full">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>
