<div class="app-content">
    <mat-toolbar class="bg-neutral-900 w-full">
        <div class="container m-auto flex">
            <a href="/" class="mr-8">Watch Manager</a>
            <a href="/movie" class="mr-8">Movies</a>
            <a href="/tv" class="mr-8">TV Shows</a>
            <a href="/people" class="mr-8">People</a>

            <span class="flex-auto"></span>
            <div *ngIf="!user">
                <a href="/register" class="mr-8">Sign Up</a>
                <a href="/login" class="mr-8">Log In</a>
            </div>
            <div *ngIf="user">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="text-slate-50">
                    <a href="/user-watchlist" mat-menu-item>
                        <mat-icon> bookmark_add </mat-icon>
                        <span>Watchlist</span>
                    </a>
                    <a href="/user-rated" mat-menu-item>
                        <mat-icon> grade</mat-icon>
                        <span>Rated</span>
                    </a>
                    <a href="/user-favorite" mat-menu-item>
                        <mat-icon>favorite</mat-icon>
                        <span>Favourite</span>
                    </a>
                    <a href="/user-watched" mat-menu-item>
                        <mat-icon>check</mat-icon>
                        <span>Watched</span>
                    </a>
                    <a href="/user-account" mat-menu-item>
                        <mat-icon>manage_accounts </mat-icon>
                        <span>Account</span>
                    </a>
                </mat-menu>
                <button mat-button class="ml-4 mr-5" (click)="logout()">
                    <span class="mr-1">Logout</span> <mat-icon>logout</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <div class="h-full">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>
