<div class="app-content">
    <mat-toolbar class="bg-neutral-900 w-full">
        <div class="container m-auto flex">
            <a href="/" class="mr-8">Watch Manager</a>
            <a href="#" class="mr-8">Movies</a>
            <a href="#" class="mr-8">TV Shows</a>
            <a href="#" class="mr-8">People</a>

            <span class="flex-auto"></span>
            <div id="auth">
                <a href="#" class="mr-8">Sign Up</a>
                <a href="#" class="mr-8">Log In</a>
            </div>
        </div>
    </mat-toolbar>
    <div class="h-full">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>
